body{
    margin: 0;
    padding: 0;
    background-image: url(./img/fondo.png);
    
}

header {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    flex-basis: 80%;
    
}

h1 {
    display: flex;
    flex-basis: 25%;
    justify-content: center;
    align-items: center;
    font-family:'Mochiy Pop P One', sans-serif;
    font-size: 3em;
    margin: 0%;
    padding-left: 0.5em;
    padding-right: 0.5em;
    background-color: rgba(113, 138, 227);
    width: 97.2%;
}

nav {
    display: flex;
    flex-basis: 50%;
    align-items: center;
    justify-content: space-around;
    font-family: 'Dosis', sans-serif;
    font-size: 1.7em;
    text-decoration: none;
    padding: 0%;
}

nav ul {
    padding: 0%;
    
}

nav ul li {   
    list-style: none;
    display: inline-block;
        
}

nav ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    background-color: rgba(113, 138, 227);
    border-radius: 2em;
}
nav ul li a:hover {
    background-color: whitesmoke;
}

#pag2 {
    display: block;
}

#pag3 {
    display: none;

}

main {    
    padding-right: 4px;
    padding-left: 4px;
    margin-right: 12em;
    margin-left: 12em;
}

.containerPag2 {
    display: flex;
    flex-basis: 20%;
    flex-flow: row wrap;
    justify-content: center;
    gap: 1em;
    margin-top: 2em;
    font-family: 'Dosis', sans-serif;
    font-size: 1.3em;
    text-align: center;
}


.one {
    border: 0.2em outset;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 23%;
    border-radius: 5%;
    box-shadow: 0em 0em 1em rgb(134, 155, 233);
    background-color: rgb(179, 192, 241);

}

.one h3 img {
    display: flex;
    align-items: center;
}

.two {
    border: 0.2em outset;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 23%;
    border-radius: 5%;
    box-shadow: 0em 0em 1em rgb(134, 155, 233);
    background-color: rgb(179, 192, 241);
}

.two h3 img {
    display: flex;
    align-items: center;
}

.three {
    border: 0.2em outset;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 23%;
    border-radius: 5%;
    box-shadow: 0em 0em 1em rgb(134, 155, 233);
    background-color: rgb(179, 192, 241);
}

.three h3 img {
    display: flex;
    align-items: center;
    margin: 10em 0;
}

.three h4 {
    margin: 4em 0 1.3em 0;

}

.four {
    border: 0.2em outset;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 23%;
    border-radius: 5%;
    box-shadow: 0em 0em 1em rgb(134, 155, 233);
    background-color: rgb(179, 192, 241);
}

.four h3 img {
    display: flex;
    align-items: center;
}

.btnComprar {
    border-radius: 0.7em;
    border: none;
    padding: 0.2em;
    font-family: 'Dosis', sans-serif;
    font-size: 23px;
    width: 6em;
    text-align: center;
    background-color: rgba(113, 138, 227);
    color: rgb(59, 16, 100);
}

.btnComprar:hover {
    background-color: whitesmoke;
}

.pagina3 {
    display: flex;
    flex-flow: row;
    justify-content: center;
    gap: 1em;
    margin-top: 2em;
    font-family: 'Dosis', sans-serif;
    font-size: 1.3em;

}

.form {
    flex-basis: 48%;
    padding: 1em;
    border: 0.3em outset;
    border-radius: 3em 1em;
    box-shadow: 0em 0em 2em rgb(134, 155, 233);
    background-color: rgb(179, 192, 241);
}

.form ul li {
    list-style: none;
    text-align: center;
    padding: 0.3em;
    
}

.form h2 {
    text-align: center;
    
}

.cuadro {
    border-radius: 0.7em;
    border: none;
    padding: 0.4em;
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
    width: 15em;
    text-align: center;

}

.numberCard {
    flex-basis: 30%;
    border: 0.3em outset;
    padding: 1em;
    border-radius: 1em 3em;
    box-shadow: 0em 0em 2em rgb(134, 155, 233);
    background-color: rgb(179, 192, 241);
}

#card {
    border-radius: 0.7em;
    border: none;
    padding: 0.4em;
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
    width: 15em;
    text-align: center;
    margin-bottom: 1em;
}

#validar {
    border-radius: 0.7em;
    border: none;
    padding: 0.2em;
    font-family: 'Dosis', sans-serif;
    font-size: 23px;
    width: 8em;
    text-align: center;
    background-color: rgba(113, 138, 227);
    color: rgb(59, 16, 100);
    
}

#validar:hover {
    background-color: whitesmoke;
}

#rectificar {
    color: red;
    font-weight: bolder;
}

#felicitaciones {
    color: green;
    font-weight: bolder;
}

footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    position: fixed;
    bottom: 0%;
    font-family: 'Dosis', sans-serif;
    
}

.redesFooter {
    display: flex;
    align-items: center;   
    align-content: space-between;
    flex-basis: 33%;
    font-size: 1.3em;
    background-color: rgba(113, 138, 227);
    padding-left: 0.5em;
}
    

.redesFooter a {
    display: flex;
    justify-content: space-around;
    margin: 0%;
}

.redesFooter a img {
    width: 30%;
    height: 30%;
}



.autors {
    display: flex;
    flex-basis: 33%;
    align-items: center;
    justify-content: center;
    font-size: 1.6em;
    background-color: rgba(113, 138, 227);
}

.datos {
    display: flex;
    flex-basis: 33%;
    font-size: 1.3em;
    align-items: center;
    background-color: rgba(113, 138, 227);
    padding-left: 1em;
}

.datos ul {
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    padding-left: 0.3em;
}

.datos ul li {
    display: block;
    list-style: circle;
}

